/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
ul {
	list-style: none;
	padding: 0 5%;
}


.container {
	width: 75%;
	margin: 0 auto;
	border-left: 1px dotted black;
	border-right: 1px dotted black;
}

.title {
	
	font-size: large;
	font-weight: bold;
	border-bottom: 1px dotted black;
}

.content {
	margin: 2%;
}

.comment {
	border: 1px dotted black;
	padding: 1%;
}

.comment-count {
	border-bottom: 1px dotted black;
	text-align: right;
}

.time {
	font-size: small;
	color: blue;
}

.site-title {
	color: grey;
	font-weight: bold;
}